%h1 Listing meigens.json

= paginate @horesase_boys
%br

%form
  %table
    - @horesase_boys.each do |boy|
      %tr
        %td= boy['id']
        %td
          %img{:src => boy['image']}
        %td
          %textarea.horesase-body{'data-id' => boy['id']}= boy['body']
  %input#save{:type => 'button', :value => 'Save'}

%br
= paginate @horesase_boys

%br
= link_to 'New Horesase', new_horesase_path

:javascript
  var make_save_data = function(){
    var horesases = $.map(
      $('.horesase-body'),
      function(horesase_body){
        if(horesase_body.value != "")
          return {id: $(horesase_body).data('id'), body: horesase_body.value};
      }
    );
    return horesases;
  };
  $('#save').click(function(){
    var horesases = make_save_data();
    $.ajax({
      type: 'POST',
      url: '/horesases',
      data: {horesases: horesases},
      dataType: 'json',
      success: function(data){
        alert('Saveできた！');
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        alert('Saveできなかった…');
      }
    });
  });
